{{> head}}


    {{> navbar }}

   <div class="row">
       <div class="col-8">
           <h1>Auto rojo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quo provident modi natus neque doloremque nulla atque reprehenderit culpa numquam eaque ut rerum perspiciatis, ex eius totam corporis suscipit voluptatum.</h1>
       </div>

       <div class="col-4">
           <img src="assets/img/2076.jpeg" class="img-thumbnail">
       </div>
   </div>


{{> footer}}